* {
  margin: 0;
}

// html,
// body {
//   box-sizing: border-box;
//   height: 100%;
// }
// img:hover {
//   // filter: grayscale(1);
//   // filter: blur(2px);
//   // filter: brightness(0.2);
// }

// img {
//   width: 1000px;
//   // aspect-ratio: 16 / 9;
//   aspect-ratio: 1 / 1;
//   object-fit: cover;
//   // aspect-ratio: 4 / 3
// }

img {
	max-width: 100%;
	// will make the image fill the container UP TO the image maximum size
	height: auto;
	// max-width: 100% , height: auto is required to maintain the image's aspect ratio
	vertical-align: middle;
	display: block;
	// vertical align and display block make image centred if put within text
	// atyling the alt tag text
	font-style: italic;
	// preloader
	background-repeat: no-repeat;
	background-size: cover;
}