* {
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

// figure {
//   height: 100vh;
//   display: grid;
//   gap: 10px;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: repeat(4, 1fr);
//   // grid-auto-flow: row;
//   // grid-auto-rows: 200px;
// }

// figure {
//   height: 100vh;
//   display: grid;
//   gap: 3px;
//   grid-template-columns: repeat(4, 100px);
//   grid-template-rows: repeat(4, 100px);
//   // grid-auto-flow: row;
//   place-content: center;
//   // justify-content: ;
//   // align-content: ;
// }

// figure {
//   border: 10px solid;
//   height: 500px;
//   width: 500px;
//   display: grid;
//   gap: 10px;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: repeat(4, 1fr);
//   // grid-auto-flow: row;
//   // grid-auto-rows: 200px;
// }

figure {
  // padding: 50px;
  // margin: 50px;
  border: 10px solid;
  height: 500px;
  width: 500px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  // grid-auto-flow: row;
  // grid-auto-rows: 200px;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

img {
  width: 100%;
  height: 100%;
  overflow: auto;
  object-fit: cover;
  object-fit: center;
}

img:first-child {
  grid-column: span 2;
}
 img:nth-child(5) {
    grid-row: span 2;
 }

 img:last-child {
  grid-column: span 3;
 }
